---
import "../CSS/global.css";
import Nav from "./nav.astro";
---

<header>
   <p>
        Hannah Isabel <br />
        Grenade <span>.</span>
      </p>
    <Nav />
</header>

<style>

p {
    font-weight: 500;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 3%;
}

</style>