---
import "../CSS/global.css";
import Socials from "./socials.astro";

---

<header>
   <p>
        Hannah Isabel <br />
        Grenade <span>.</span>
      </p>
      <Socials />
</header>

<style>

p {
    font-weight: 500;
}
header {
    height: 10vh;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

</style>