---
import "../CSS/global.css"
import Socials from "./socials.astro";
---

<section id="sFour">
  <img src="/img/billede2.png" alt="picture" />
  <div class="links">
    <Socials />
  </div>
 
    <a href="mailto:deterhannahs@gmail.com"><button>Send mig en mail</button></a>
  
</section>

<style>

section {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E4D6;
    margin-top: 4em;
    overflow: hidden;
}
.links {
display: flex;
gap: 1em;
margin-top: 2em;
}

h2 {
    font-size: 1.2rem ;
}
.links {
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    gap: 0.5em;
}

a {
  margin-top: 1em;
}

img {
    max-width: 150px;
}
</style>