---
import "../CSS/global.css";
import Skills from "./skills.astro";
---

<section>
  <img src="/img/billede.png" alt="" />
  <div>
    <h2>Lidt om mig <span>.</span></h2>
    <p>
      Jeg hedder Hannah Isabel Grenade og er 23 år gammel. Jeg er uddannet multimediedesigner og læser nu en top-up i webudvikling på KEA.
      Min passion er frontend-udvikling, og jeg brænder for at kombinere min kreative sans
      med tekniske færdigheder inden for grafisk design og kodning. 
      <br><br>
      Gennem min uddannelse har jeg ikke kun opbygget stærke kompetencer i
      frontend-udvikling, men også fået indblik i marketing, SEO, branding og digital
      forretning. Jeg elsker at fordybe mig og finde kreative  
      løsninger, der fungerer både visuelt og teknisk. Jeg er en glad og
      energisk person, som sætter pris på samarbejde og som altid er nysgerrig
      på at lære nyt. Mit mål er at udvikle mig som en alsidig udvikler, der skaber gode og brugervenlige løsninger.
    </p>
  </div>
</section>
<div class="skills">
  <Skills />
</div>
<style>
  p {
    max-width: 710px;
  }
  img {
    max-width: 250px;
  }
  @media (max-width: 900px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 900px) {
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 2em;
    }
  }

  .skills {
  }
</style>
