---
import "../CSS/global.css";
import Skills from "./skills.astro";
---

<section>
  <img src="/img/billede.png" alt="" />
  <div>
    <h2>Lidt om mig <span>.</span></h2>
    <p>
      Jeg er 23 år gammel og læser til multimediedesign på KEA. I forbindelse
      med min uddannelse søger jeg ligenu et 10 ugers praktikophold hos en
      spændende virksomhed indenfor frontend design og udvikling. <br />
      <br />
       Jeg har en kæmpe passion for både grafisk design og kodning, og min drøm
      er derfor at jeg gennem min praktik kan udvikle mine kompetencer indenfor
      begge områder. Da vores uddannelse er bred har jeg også opnået viden
      indenfor marketing, branding, digital forretning og mange andre spændende
      områder som jeg også er nysgerrig på. Jeg er kreativ, glad og har et stort
      gåpåmod og lyst til at lære endnu mere.
    </p>
  </div>
</section>
<div class="skills">
  <Skills />
</div>
<style>
  p {
    max-width: 710px;
  }
  img {
    max-width: 250px;
  }
  @media (max-width: 900px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 900px) {
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 2em;
    }
  }

  .skills {
  }
</style>
