---
import "../CSS/global.css";
import Projekt from "../components/projekt.astro";
---

<h2>Projekter <span>.</span></h2>
<section>
  <Projekt
    billede="omada.png"
    overskrift="Omada Wine & Deli"
    link="https://gruppe14omada.netlify.app"
    beskrivelse="SoMe kampagne, bud på nye produktbilleder samt redesign af hjemmeside."
  >
    <div class="labels">
      <p>Redesign</p>
      <p>Astro</p>
      <p>Content</p>
      <p>Videoproduktion</p>
      <p>Figma</p>
    </div>
  </Projekt>

  <Projekt
    billede="toDo.png"
    overskrift="ToDo app"
    link="https://todo-hannah.netlify.app"
    beskrivelse="Mini Todo webapp udviklet med Javascript og localeStorage så den gemmer ens todo-tasks."
  >
    <div class="labels">
      <p>LocaleStorage</p>
      <p>HTML, CSS og Javascript</p>
      <p>Mini-projekt</p>
    </div>
  </Projekt>

  <Projekt
    billede="tommis.png"
    overskrift="Tommi's Burger Joint"
    link="https://tommisburgerjoint.netlify.app"
    beskrivelse="Eksamens projekt - Website, SoMe content og markedsføringsplan til Tommi's Burger Joint."
  >
    <div class="labels">
      <p>Redesign</p>
      <p>Astro</p>
      <p>SoMe</p>
      <p>Koncept</p>
      <p>Videoproduktion</p>
      <p>Figma</p>
    </div>
  </Projekt>

  <Projekt
    billede="sakura.png"
    overskrift="Sakura Festival"
    link="https://sakura-festival-16.netlify.app"
    beskrivelse="Redesign af hjemmeside med fokus på forbedret brugeroplevelse på Sakura Festivals website."
  >
    <div class="labels">
      <p>Figma</p>
      <p>Astro</p>
      <p>Redesign</p>
      <p>Brugertest</p>
    </div>
  </Projekt>

  <Projekt
    billede="coffeeFirst.png"
    overskrift="Coffee First"
    link="https://www.coffeefirst.dk"
    beskrivelse="Redesign af hjemmeside og SoMe video til lokal hunde cafe på Vesterbro."
  >
    <div class="labels">
      <p>HTML, CSS og Javascript</p>
      <p>Redesign</p>
      <p>Videoproduktion</p>
    </div>
  </Projekt>

  <Projekt
    billede="styleOpg.png"
    overskrift="Mini layout/design projekt"
    link="https://assigment-portfolio-hannah.netlify.app"
    beskrivelse="Mini projekt med forskellige layouts og ét gennemgående styletile."
    label1="Figma"
    label2="CSS"
    label3="Layout"
    label4="Mini-projekt"
  >
    <div class="labels">
      <p>CSS</p>
      <p>HTML</p>
      <p>Figma</p>
      <p>Design</p>
    </div>
  </Projekt>

  <Projekt
    billede="spil.png"
    overskrift="Simpelt Klikspil"
    beskrivelse="Udvikling af klikspil herunder grafiske elementer"
  >
    <div class="labels">
      <p>Adobe Illustrator</p>
      <p>HTML, CSS og Javascript</p>
      <p>Animation</p>
    </div>
  </Projekt>
</section>

<style>
  section {
    margin: 0;
    margin-left: -1em;
  }

  @media (max-width: 600px) {
    section {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      gap: 1em;
      scroll-snap-type: x mandatory;
    }
  }
  @media (min-width: 600px) {
    section {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      gap: 1em;
      margin: 2em;
      margin-left: -1em;
      padding-top: 2em;
      margin-top: -2em;
      /* margin-right: -4em; */
      scroll-snap-type: x mandatory;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  article {
    scroll-snap-type: mandatory;
  }

  .labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .labels p {
    margin: 0;
    color: #0f2f4b;
  }
  p {
    font-size: 0.9rem;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #e6e4d680;
  }
</style>
