@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}
body {
  min-height: 100dvh;
  font-family: 'Hind', sans-serif;
    margin: 0 auto;
    max-width: 1500px;
}
main {
      padding: 0 5%;
      
}

p {
  text-wrap: pretty;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  text-wrap: balance;
   font-weight: 400;
}

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
img {
    max-width: 100%;
    display: block;
}

a {
 color: black;
 text-decoration: none;
 font-weight: 400;
   font-size: 1.1rem;
     position: relative;
}


button {
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #0F2F4B;
    color: #E6E4D6;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2 ease;
     -webkit-transition: all .2s ease; 
}
button:hover {
    background-color: #E6E4D6;
    color: #0F2F4B;
    font-weight: 400;
        box-shadow: 0px 0px 20px 11px rgba(15, 47, 75, 0.5);
    -webkit-box-shadow: 0px 0px 20px 11px rgba(15, 47, 75, 0.5);
    -moz-box-shadow: 0px 0px 20px 11px rgba(15, 47, 75, 0.5);
     -webkit-transition: all .2s ease; 
         transition: all .2 ease;
}

p span {
color: #E6E4D6;
  font-size: 4rem;
  line-height: 0;
}
h2 span {
color: #E6E4D6;
  font-size: 5rem;
  line-height: 0;
}
